<mat-tab-group>
    <mat-tab label="PRÓXIMAS">
        <ng-container *ngFor="let live of livesNext">
            <mat-card>
                <mat-card-title>{{live.liveName}}</mat-card-title>
                <mat-card-subtitle>{{live.channelName}} at {{live.liveDate | localDateTime}}</mat-card-subtitle>
                <mat-card-content>
                    <iframe 
                        width="560" height="315" 
                        [src]="live.urlSafe" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                    ></iframe>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </ng-container>
    </mat-tab>
    <mat-tab label="ANTERIORES">
ok
    </mat-tab>
</mat-tab-group>
