.cards-container {
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
}

.video-card {
    width: 448px;
    margin: 8px;
    border: solid #d3d3d3 1px;
    border-radius: 8px;
}

.card-header ::ng-deep * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}