<mat-tab-group>
  <mat-tab label="ATUAIS">
    <div class="cards-container">
      <ng-container *ngFor="let live of livesCurrent">
        <mat-card class="video-card">
          <mat-card-header class="card-header">
            <mat-card-title>{{live.liveName}}</mat-card-title>
            <mat-card-subtitle>Now at {{live.channelName}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="video-container">
            <iframe 
              [src]="live.urlSafe" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </mat-tab>
  <mat-tab label="ANTERIORES">
    <div class="cards-container">
      <ng-container *ngFor="let live of livesPrevious">
        <mat-card class="video-card">
          <mat-card-header class="card-header">
            <mat-card-title>{{live.liveName}}</mat-card-title>
            <mat-card-subtitle>{{live.channelName}} at {{live.liveDate | localDateTime}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="video-container">
            <iframe
              [src]="live.urlSafe" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </mat-card-content>
        </mat-card>
      </ng-container>
      <mat-tab label="PRÓXIMAS">
        <div class="cards-container">
          <ng-container *ngFor="let live of livesNext">
            <mat-card class="video-card">
              <mat-card-header class="card-header">
                <mat-card-title>{{live.liveName}}</mat-card-title>
                <mat-card-subtitle>{{live.channelName}} at {{live.liveDate | localDateTime}}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="video-container">
                <iframe
                  [src]="live.urlSafe" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </mat-card-content>
            </mat-card>
          </ng-container>
        </div>
      </mat-tab>
    </div>
  </mat-tab>
</mat-tab-group>
